html {
  --link: hsl(214, 100%, 35%);
  --background: hsl(0, 0%, 21%);
  --foreground: hsl(0, 0%, 97%);
  --accent: hsl(0, 0%, 90%);
  --accent2: hsl(0, 0%, 76%);
}

body {
  font-size: 20px;
  font-family: 'Arial Nova', Arial, Helvetica, sans-serif;
  line-height: 1.47;

  background: var(--foreground);
}

::selection {
  background: var(--background);
  color: #fff;
}

main {
  max-width: 512px;
  margin: 0 auto;
}

a, a:visited {
  color: var(--link);
  text-decoration: none;
}

hr {
    margin: 4rem 0;
    border: 0;
    border-top: 3px solid var(--accent);
}
