::selection {
  background: var(--background);
  color: #fff;
}

p {
  margin: 1rem 0;
}

hr {
    margin: 4rem 0;
    border: 0;
    border-top: 3px solid var(--accent);
}

a, a:visited {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
