h1, h2 {
  font-family: var(--font-gothic);
  line-height: 1.15;
}

$size: 1rem;
$ratio: 1.1;

@for $exp from 1 through 6 {
    $header: 7 - $exp;

    @if $exp !=1 {
        $size: $size * $ratio;
    }

    h#{$header} {
        font-size: $size;
        margin: $size * 2 0 $size * 0.8;
    }
}
