html {
  --link: hsl(214, 100%, 35%);
  --background: hsl(0, 0%, 21%);
  --foreground: hsl(0, 0%, 97%);
  --accent: hsl(0, 0%, 90%);
  --accent2: hsl(0, 0%, 76%);

  --font-gothic: "Arial Nova", Helvetica, "Yu Gothic", YuGothic, sans-serif;
  --font-serif: "Yu Mincho", YuMincho, Century, serif;
}
